<div class="row">

    <div class="col-lg-2">
        <div class="panel panel-primary">

            <div class="panel-heading">
                <h3 class="panel-title">Task group details</h3>
            </div>
            <div class="panel-body">
                <dl>
                    <dt>Name</dt>
                    <dd>{{taskGroup.name}}</dd>
                    <dt>Working mode</dt>
                    <dd>{{taskGroup.workingMode}}</dd>
                </dl>
            </div>

        </div>
    </div>

    <div class="col-lg-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Active jobs</h3>
            </div>

            <task-descriptions-table [states]="[TaskState[TaskState.Active]]"></task-descriptions-table>

        </div>
    </div>

    <div class="col-lg-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Statistics</h3>
            </div>
            <div class="panel-body">
                <dl>
                    <dt>Clients</dt>
                    <dd>0</dd>
                    <dt>Task completion rate</dt>
                    <dd>0 / min</dd>
                    <dt>Active tasks</dt>
                    <dd>1</dd>
                </dl>
            </div>
        </div>
    </div>

</div>