<a [routerLink]="['/jobs']"><< Back to jobs</a>
<h3>Job details for {{jobDescription.jobId}}</h3>
<hr/>
<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-primary">

            <div class="panel-heading">
                <h3 class="panel-title">Job description</h3>
            </div>
            <div class="panel-body">
                <dl>
                    <dt>Job ID</dt>
                    <dd>{{jobDescription.jobId}}</dd>
                    <dt>Size</dt>
                    <dd>{{jobDescription.size}}</dd>
                    <dt>Issuer</dt>
                    <dd>{{jobDescription.issuer}}</dd>
                    <dt>Creation date</dt>
                    <dd>{{jobDescription.createdDate}}</dd>
                    <dt>State</dt>
                    <dd>{{jobDescription.state}}</dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Job program</h3>
            </div>
            <div class="panel-body">
                <code>
                    function(data) &#123;
                        {{jobProgram.program}}
                    &#125;
                </code>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Data/results</h3>
            </div>
            <table class="table text-center">
                <tr>
                    <th class="text-center">Index</th>
                    <th class="text-center">Data</th>
                    <th class="text-center">Results count</th>
                    <th class="text-center">Operations</th>
                </tr>
                <tr *ngFor="let dataPart of jobDataParts">
                    <td><b>{{dataPart.index}}</b></td>
                    <td>{{dataPart.data}}</td>
                    <td>{{jobResults[dataPart.index] == null ? 0 : jobResults[dataPart.index].length}}</td>
                    <td>
                        <a [routerLink]="['results', dataPart.index]"><i class="fa fa-fw fa-eye"></i>View</a>
                        <a><i class="fa fa-fw fa-remove"></i>Clear</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Operations</h3>
            </div>
            <div class="panel-body">
                <a><i class="fa fa-fw fa-remove"></i>Clear results</a>
                <br />
                <a *ngIf="jobDescription.state == JobState[JobState.New]"><i class="fa fa-fw fa-check"></i>Activate</a>
                <a *ngIf="jobDescription.state == JobState[JobState.Active]"><i class="fa fa-fw fa-stop"></i>Deactivate</a>
                <a *ngIf="jobDescription.state == JobState[JobState.Finished]"><i class="fa fa-fw fa-remove"></i>Delete</a>

            </div>
        </div>
    </div>
</div>
